<?xml version="1.0"?>
<launch>

	<!-- upload robot_description -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find crom2_description)/robots/crom2_no_arms.urdf.xacro'"/>

	<!-- start robot_state_publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>
	
	
</launch>
