<?xml version="1.0"?>
<launch>

	<!-- upload robot_description -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find crom2_description)/robots/crom2_no_arms.urdf.xacro'"/>
	<!--param name="robot_description" command="$(find xacro)/xacro.py '$(find crom2_description)/robots/crom2_ur10.urdf.xacro'"/-->

	<!-- start robot_state_publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>
	
	<!-- Controller of the Dynamixel servos-->
	<include file="$(find crom2_bringup)/launch/torso_head_controller.launch"/>

	<!-- RGBD Camera (Asus Xtion Pro Live)-->
	<!--include file="$(find crom2_bringup)/launch/rgbd_camera.launch"/-->
	
	<!-- Head stereo cameras (2x Pointgrey)-->
	<!--include file="$(find crom2_bringup)/launch/pointgrey_cameras.launch"/-->

	<!-- Inputs / outputs module -->
	<!--include file="$(find crom2_bringup)/launch/inputs_outputs.launch"/-->

	<!-- trajectory control for waist and head -->
	<include file="$(find crom2_bringup)/launch/rtraj_control.launch"/>

</launch>
