<?xml version="1.0"?>

<robot name="base" xmlns:xacro="http://ros.org/wiki/xacro">
	
  <xacro:include filename="$(find crom2_description)/urdf/gazebo/crom2_base.gazebo.xacro" />

  <!-- Define a number of dimensions using properties -->
  <property name="base_size_x" value="0.55" />
  <property name="base_size_y" value="0.55" />
  <property name="base_size_z" value="1.078" />

  <!-- The base xacro macro -->
  <xacro:macro name="base_model" params="name parent color *origin">
    <joint name="${name}_joint" type="fixed">
		<xacro:insert_block name="origin" />        
		<parent link="${parent}"/>
		<child link="${name}_link" />
	</joint>
	<link name="${name}_link">
		 <!-- Inertial same to crom -->
		<inertial>
		  <mass value="800.0" />
		  <origin xyz="0 0 0" />
		  <inertia  
			ixx="3.737" ixy="0.008"  ixz="-0.144" 
			iyy="8.311"  iyz="-0.004"  
			izz="8.893" />
		</inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename = "package://crom2_description/meshes/CROM2_base.dae"/>
        </geometry>
        <material name="${color}" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename = "package://crom2_description/meshes/CROM2_base.dae"/>
        </geometry>
      </collision>
    </link>
    
	<!--Add base_gazebo macro -->
	<base_gazebo name="${name}" />
  
  </xacro:macro>

 </robot>
